$vk-brand-blue: #4981c0
$vk-brand-link-blue: #4680c2
$vk-brand-blue-shadow: #4073ab
$brand-gray-light: #f6f8f9

$c-red: #ff3247
$c-blue-bright: #30c6f6
$c-blue: $vk-brand-blue
$c-gray-light: #ccc
$c-gray: #828282
$c-gray-dark: #1f1f1f
$c-gray-darker: #181818
$c-yellow: #fbdd31
$c-green-bright: #14d181
$c-green: $c-green-bright
//$c-green: #29d58e
$c-gray-lightest: #f2f2f2
$c-gray-lighter: #d3d3d3
$c-blue-pale-dark: #293033

$brand-success: $c-green
$brand-danger: $c-red
$brand-warning: $c-yellow
$brand-info: $c-blue

$text-color: #222
$text-color-light: #606060

